// Colors
$mainBg: #013243;
$primaryColor: #32F5C8;
$gray: rgb(179, 175, 175) ;

// Media Queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// Typography
$primaryFont: 'Inter', sans-serif;
$secondaryFont: 'Sen', sans-serif;